section.About .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 40px 40px;
}
section.About .wrapper .content {
    margin-top: 50px;
    width: 55%;
    font-size: 20px;
    text-align: left;
    margin-right: 20px;
}
section.About .wrapper .image {
    width: 45%;
    overflow: hidden;
}
section.About .wrapper .image img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    transform: scale(1.7);
}
section.About .about-map {
    border: none;
    width: 100%;
    outline: none;
    margin: 0;
    padding: 0;
}
@media (max-width: 992px) {
    section.About .wrapper {
        flex-direction: column-reverse;
    }
    section.About .container .wrapper .content,
    section.About .container .wrapper .image {
        width: 100%;
    }
}