section.Help {
    font-size: 20px;
}
section.Help .container {
    padding: 0 20px 40px;
    text-align: left;
}
section.Help h1 {
    text-align: center;
}
section.Help h2 {
    margin-top: 20px;
}
@media (max-width: 992px) {
    section.Help h1 {
        font-size: 23px;
    }
    section.Help h2 {
        font-size: 20px;
    }
}