section.Home {
    padding: 0;
    position: relative;
}
section.Home h1 {
    margin-top: 20px;
}
.Main-slider {
    width: 100%;
    overflow-x: hidden;
}
.Main-slider img {
    width: 100%;
}
section.Home .General-slider {
    width: 100%;
    height: calc(85vh - 60px);
    overflow: hidden;
    position: relative;
}
section.Home .General-slider .slick-slider,
section.Home .General-slider .slick-list,
section.Home .General-slider .slick-track,
section.Home .General-slider .slick-slide,
section.Home .General-slider .slick-slide div {
    height: calc(100vh - 60px);
}
section.Home .General-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section.Home .General-slider .welcome-text {
    position: absolute;
    bottom: 20%;
    left: 60%;
    transition: 0.3s;
}
section.Home .General-slider .welcome-text > p {
    font-size: 25px;
    color: white;
    text-shadow: 0 0 15px black;
    text-align: center;
    max-width: 90%;
    user-select: none;
}
section.Home .General-slider .home-button {
    padding: 25px 0;
    margin-right: 7%;
}
section.Home .General-slider .home-button:hover .link  {
    color: #61dafb;
}
section.Home .General-slider .home-button .link {
    background: black;
    color: white;
    font-size: 20px;
    padding: 15px 35px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}
/* Home subtitle */
.home-content-wrapper {
    display: flex;
    overflow: hidden;
    padding: 50px 0;
}
.home-content-inner-wrapper {
    width: 80%;
    padding: 20px 0;
}
.home-content-wrapper .home-subtitle {
    padding: 50px 0;
    font-size: 20px;
    text-align: left;
    max-width: 80%;
    box-sizing: border-box;
    margin: 0 auto;
}
.home-content-wrapper .home-content-image-wrapper {
    width: 50%;
    margin-right: 40px;
    position: relative;
    box-shadow: 0 0 10px black;
    border-radius: 25px;
}
.home-content-wrapper .home-content-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
@media (max-width: 992px) {
    .home-content-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }
    .home-content-wrapper .home-subtitle {
        max-width: 100%;
    }
    .home-content-wrapper .home-content-image-wrapper {
        width: 80%;
        margin-right: 0;
        display: flex;
    }
    section.Home .General-slider {
        height: 80vh;
    }
    section.Home .General-slider .welcome-text {
        bottom: -8%;
        left: 5%!important;
        width: 100%;
        transform: translateY(-50%);
    }
}
@media (max-width: 768px) {
    .home-content-wrapper {
        padding-bottom: 0;
    }
    .home-content-wrapper .home-content-image-wrapper {
        width: 100%;
        box-shadow: none;
        border-radius: 0;
        margin-bottom: 0;
    }
    .home-content-wrapper .home-content-image-wrapper img {
        border-radius: 0;
    }
}