.product {
    margin: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    height: 500px;
}
.product .product-img {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 1;
    overflow: hidden;
}
.product .product-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product .product-content-wrapper {
    padding: 8% 30px 5%;
    width: 30%;
    height: 100%;
    color: white;
    box-sizing: border-box;
    background: #282c34;
    position: relative;
}
.product-title {
    padding: 15px 10px;
    width: 90%;
    font-size: 25px;
    margin: 0px auto;
    background: white;
    color: black;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 0;
    box-shadow: 0 0 15px black;
    display: flex;
    align-items: center;
}
.product-title p {
    margin: 0 10px 0 auto;
}
.product .product-description {
    font-size: 20px;
    margin: 10px 0;
}
.product .product-type-img {
    display: none;
    background: white;
    width: 15%;
    z-index: 9;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10%;
}
.product .product-type-img.show {
    display: block;
}
.product .product-type-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(1.2);
}
.product .slick-slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.product .product-price {
    font-size: 25px;
    margin: 10px 0;
}
.product .product-button {
    margin-top: 20px;
    background: white;
    color: black;
    font-size: 20px;
    padding: 10px 30px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product .product-button p.text {
    margin-left: 10px;
}
.product .product-button:hover {
    color: black;
    background-color: #61dafb;
}
/* Product Specs section */
.product-specs {
    margin: 50px auto;
    box-shadow: 0 0 5px black;
    width: fit-content;
    max-width: 70%;
    padding:45px 30px 30px;
    border-radius: 15px;
}
.product-specs h2 {
    margin: -7.5% auto 10px auto;
    text-shadow: 0 0 25px white;
    background-color: white;
    width: fit-content;
}
/* Product suggestions slider */
.products-slider {
    border-top: 1px dashed black;
    padding: 0 10% 20px;
}
.products-slider .slick-slider .slick-arrow {
    display: none!important;
}
.products-slider h2 {
    font-size: 25px;
}
.slick-arrow {
    z-index: 2;
}
.slick-prev, .slick-next {
    top: 90%;
    width: 30px;
    height: 30px;
    transition: .2s;
}
.slick-prev:before, .slick-next:before {
    font-size: 60px;
    color: #282c34;
    opacity: 1;
}
.slick-prev:hover, .slick-next:hover {
    opacity: 0.8;
}
.slick-prev {
    left: 83%;
}
.slick-next {
    right: 5%;
}
@media (max-width: 1100px) {

    .product {
        flex-direction: column;
        height: auto;
    }
    .product .product-img {
        width: 100%;
    }
    .product .product-img .slick-prev {
        left: 80%;
    }
    .product .product-content-wrapper {
        width: 100%;
        padding-top: 15%;
    }
    .product .product-content-wrapper .product-button {
        width: 50%;
        margin: 40px auto 0;
    }
    .product-specs {
        max-width: 100%;
        box-shadow: none;
    }
}
@media (max-width: 650px) {
    .product .product-img .slick-arrow {
        display: none!important;
    }
    .product .product-title,
    .product .product-price  {
        font-size: 20px;
    }
    .product .product-description {
        font-size: 18px;
    }
}